body {
    background: rgb(117, 195, 219);
    font: normal 15pt Arial, sans-serif;
}

input[type="number"],
input[type="button"],
button,
select {
    max-width: 100%;
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.362);
}

section h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

div {
    text-align: center;
    padding: 8px;
}

select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;
}

@media (max-width: 360px) {
    body {
        font-size: 12pt;
    }

    section {
        width: 95%;
        padding: 10px;
    }

    input[type="number"] {
        width: 80px;
    }
}